factoid.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT text (body)>
<!ELEMENT body (charte+)>
<!ELEMENT charte (p | persName | relation)*>

<!ELEMENT p (#PCDATA)>
<!ELEMENT persName (#PCDATA)>
<!ATTLIST persName xml:id ID #REQUIRED role CDATA #IMPLIED>

<!ELEMENT relation EMPTY>
<!ATTLIST relation 
    name CDATA #REQUIRED
    active IDREF #IMPLIED
    mutual IDREFS #IMPLIED
    passive IDREF #IMPLIED
    type (familial|social|legal|other) #REQUIRED>

